@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.font-mono {
		font-family: var(--roboto-mono);
	}
	
	.font-sans {
		font-family: var(--roboto-sans);
	}

	.section {
		@apply h-dvh w-full;
	}

	.sideBarMask {
		@apply bg-neutral-800
	}

	.sideBarMask::before {
		content: '';
		position: absolute;
		top: -50px;
		left: 0;
		height: 50px;
		width: 100%;
		mask: url('../../public/svg/wave-mask.svg') no-repeat;
		mask-size: 100%;

		@apply bg-neutral-800
	}

	.sideBarMask::after {
		content: '';
		position: absolute;
		bottom: -50px;
		left: 0;
		height: 50px;
		width: 100%;
		mask: url('../../public/svg/wave-mask.svg') no-repeat;
		mask-size: 100%;
		transform: scaleY(-1);

		@apply bg-neutral-800
	}
}

* {
	scrollbar-width: thin;
	scrollbar-color: theme(colors.primary.500) transparent;
}

::-moz-selection {
	color: theme(colors.primary.50);
	background: theme(colors.primary.500);
}

::selection {
	color: theme(colors.primary.50);
	background: theme(colors.primary.500);
}

html {
	scroll-behavior: smooth;
}